.compose {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-top: 1px solid #eeeef1;
  bottom: 0;
  border-left: 1px solid #ddd;
  position: relative;
  flex-shrink: 0;
  box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, 0.05);
  z-index: 11;
  background-color: #fff;
  border-radius: 90px;
  margin-block-end: 1em;
}

@supports (backdrop-filter: blur(20px)) {
  .compose {
    border: none;
  }
}

.compose-input {
  flex: 1;
  height: 20px;
  background: none;
  border-radius: 5px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  min-height: 20px;
  overflow-y: hidden;
}

.compose-input:focus {
  outline: none;
}

.compose-input::placeholder {
  color: #9ABDFC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

.compose .toolbar-button {
  color: #bbbbbf;
  margin-left: 15px;
}

.compose .toolbar-button:hover {
  color: #99999c;
}

.send {
  padding-left: 10px;
  line-height: normal;
}

.send-btn {
  width: 40px;
  height: 40px;
  background: linear-gradient(325.78deg, #4284FF 14.76%, #97D6FC 87.3%);
  box-shadow: 4px 6px 10px rgba(42, 139, 242, 0.15), 2px 2px 25px rgba(42, 139, 242, 0.05);
  border-radius: 30px;
  border-color: #fff0;
  border: none;
}

.send-btn span {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAChSURBVHgB7ZLhCcIwEIUf4gAdKRvYEdxAR3AD3UCcwBGMG7hB3MARzgtcaSgtfaRHf/WDx5Ef+ZIXAmywiEjQXDUtaikkP+m5eUhKgoekIw337kuJjoPmqGnAEadu1EodYUrYaE6aZ65ByhJY7ID8jhc7ZIw7atHNL7ouKTyzdXfg+A7WEUuwN/WpW0jTXN0MWznzthnhJPzYfMCD7m9ibf5fFll3tHbBHgAAAABJRU5ErkJggg==');
  background-size: cover;
  width: 17px;
  height: 17px;
  display: block;
  margin: 0 auto;
}

.txtareafirst {
  height: 94px;
  overflow-y: hidden;
}
